node-red/flow.json
[
    {
        "id": "tab_battery_monitor",
        "type": "tab",
        "label": "Battery Monitoring System",
        "disabled": false,
        "info": "Automatic Battery Monitoring System - CAN Bus ingestion, decoding, and dashboard.\n\nRequires:\n  - node-red-contrib-socketcan (or equivalent CAN-to-MQTT/Serial gateway)\n  - node-red-dashboard\n\nThis flow assumes a SocketCAN interface (e.g. can0) is available on the\nNode-RED host, bridged to the physical CAN bus via a USB-CAN adapter or\na Linux SBC with native CAN hardware. See docs/NODE_RED_ARCHITECTURE.md.",
        "env": []
    },
    {
        "id": "can_in_node",
        "type": "socketcan-in",
        "z": "tab_battery_monitor",
        "name": "CAN0 Interface (500kbps)",
        "interface": "can0",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "fn_route_by_id"
            ]
        ]
    },
    {
        "id": "fn_route_by_id",
        "type": "switch",
        "z": "tab_battery_monitor",
        "name": "Route by CAN ID",
        "property": "id",
        "propertyType": "msg",
        "rules": [
            { "t": "eq", "v": "0x100", "vt": "str" },
            { "t": "eq", "v": "0x101", "vt": "str" },
            { "t": "eq", "v": "0x102", "vt": "str" },
            { "t": "eq", "v": "0x103", "vt": "str" },
            { "t": "eq", "v": "0x104", "vt": "str" },
            { "t": "eq", "v": "0x105", "vt": "str" }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 380,
        "y": 80,
        "wires": [
            ["fn_decode_voltage"],
            ["fn_decode_current"],
            ["fn_decode_temperature"],
            ["fn_decode_weight"],
            ["fn_decode_power"],
            ["fn_decode_system_status"]
        ]
    },
    {
        "id": "fn_decode_voltage",
        "type": "function",
        "z": "tab_battery_monitor",
        "name": "Decode 0x100 Voltage",
        "func": "// CAN Frame 0x100 - Battery Voltage\n// Bytes [0-1]: int16 big-endian, scale factor 100 -> Volts\nconst data = msg.payload; // array of bytes\nconst raw = (data[0] << 8) | data[1];\nconst signedRaw = raw > 32767 ? raw - 65536 : raw;\nconst voltage = signedRaw / 100.0;\n\nmsg.payload = voltage;\nmsg.topic = \"battery/voltage\";\nreturn msg;",
        "outputs": 1,
        "x": 630,
        "y": 40,
        "wires": [
            [
                "ui_gauge_voltage",
                "ui_chart_voltage",
                "fn_merge_state"
            ]
        ]
    },
    {
        "id": "fn_decode_current",
        "type": "function",
        "z": "tab_battery_monitor",
        "name": "Decode 0x101 Current",
        "func": "// CAN Frame 0x101 - Battery Current\n// Bytes [0-1]: int16 big-endian, scale factor 100 -> Amps (signed)\nconst data = msg.payload;\nconst raw = (data[0] << 8) | data[1];\nconst signedRaw = raw > 32767 ? raw - 65536 : raw;\nconst current = signedRaw / 100.0;\n\nmsg.payload = current;\nmsg.topic = \"battery/current\";\nreturn msg;",
        "outputs": 1,
        "x": 630,
        "y": 90,
        "wires": [
            [
                "ui_gauge_current",
                "ui_chart_current",
                "fn_merge_state"
            ]
        ]
    },
    {
        "id": "fn_decode_temperature",
        "type": "function",
        "z": "tab_battery_monitor",
        "name": "Decode 0x102 Temperature",
        "func": "// CAN Frame 0x102 - Battery Temperature\n// Bytes [0-1]: int16 big-endian, scale factor 100 -> Degrees C (signed)\nconst data = msg.payload;\nconst raw = (data[0] << 8) | data[1];\nconst signedRaw = raw > 32767 ? raw - 65536 : raw;\nconst temperature = signedRaw / 100.0;\n\nmsg.payload = temperature;\nmsg.topic = \"battery/temperature\";\nreturn msg;",
        "outputs": 1,
        "x": 640,
        "y": 140,
        "wires": [
            [
                "ui_gauge_temperature",
                "ui_chart_temperature",
                "fn_merge_state"
            ]
        ]
    },
    {
        "id": "fn_decode_weight",
        "type": "function",
        "z": "tab_battery_monitor",
        "name": "Decode 0x103 Weight",
        "func": "// CAN Frame 0x103 - Battery Weight\n// Bytes [0-1]: int16 big-endian, scale factor 1000 -> Kilograms\nconst data = msg.payload;\nconst raw = (data[0] << 8) | data[1];\nconst signedRaw = raw > 32767 ? raw - 65536 : raw;\nconst weight = signedRaw / 1000.0;\n\nmsg.payload = weight;\nmsg.topic = \"battery/weight\";\nreturn msg;",
        "outputs": 1,
        "x": 620,
        "y": 190,
        "wires": [
            [
                "ui_gauge_weight",
                "fn_merge_state"
            ]
        ]
    },
    {
        "id": "fn_decode_power",
        "type": "function",
        "z": "tab_battery_monitor",
        "name": "Decode 0x104 Power",
        "func": "// CAN Frame 0x104 - Battery Power\n// Bytes [0-1]: int16 big-endian, scale factor 100 -> Watts\nconst data = msg.payload;\nconst raw = (data[0] << 8) | data[1];\nconst signedRaw = raw > 32767 ? raw - 65536 : raw;\nconst power = signedRaw / 100.0;\n\nmsg.payload = power;\nmsg.topic = \"battery/power\";\nreturn msg;",
        "outputs": 1,
        "x": 620,
        "y": 240,
        "wires": [
            [
                "ui_gauge_power",
                "ui_chart_power",
                "fn_merge_state"
            ]
        ]
    },
    {
        "id": "fn_decode_system_status",
        "type": "function",
        "z": "tab_battery_monitor",
        "name": "Decode 0x105 System Status",
        "func": "// CAN Frame 0x105 - System Status\n// Byte 0: battery status enum (0=GOOD,1=WARNING,2=CRITICAL,3=FAULT)\n// Byte 1: CAN bus error flag (0/1)\n// Byte 2: sensors OK flag (0/1)\n// Byte 3: alert flags bitmask (bit0=overV,bit1=underV,bit2=overI,bit3=overT)\nconst data = msg.payload;\nconst statusMap = [\"GOOD\", \"WARNING\", \"CRITICAL\", \"FAULT\"];\nconst statusCode = data[0];\nconst canError = data[1] === 1;\nconst sensorsOk = data[2] === 1;\nconst alertFlags = data[3];\n\nconst alerts = [];\nif (alertFlags & 0x01) alerts.push(\"Overvoltage\");\nif (alertFlags & 0x02) alerts.push(\"Undervoltage\");\nif (alertFlags & 0x04) alerts.push(\"Overcurrent\");\nif (alertFlags & 0x08) alerts.push(\"Overtemperature\");\n\nmsg.payload = {\n    batteryStatus: statusMap[statusCode] || \"UNKNOWN\",\n    canError: canError,\n    sensorsOk: sensorsOk,\n    alerts: alerts\n};\nmsg.topic = \"battery/system_status\";\nreturn msg;",
        "outputs": 1,
        "x": 650,
        "y": 300,
        "wires": [
            [
                "ui_text_battery_status",
                "ui_led_can_status",
                "fn_alert_notification",
                "fn_merge_state"
            ]
        ]
    },
    {
        "id": "fn_merge_state",
        "type": "function",
        "z": "tab_battery_monitor",
        "name": "Merge Latest State",
        "func": "// Maintain a merged snapshot of the most recent value for every topic\n// so the numeric display / table widgets always show a complete row.\nconst state = flow.get('batteryState') || {};\nstate[msg.topic] = msg.payload;\nstate.lastUpdated = new Date().toISOString();\nflow.set('batteryState', state);\n\nmsg.payload = state;\nmsg.topic = \"battery/state_snapshot\";\nreturn msg;",
        "outputs": 1,
        "x": 900,
        "y": 160,
        "wires": [
            [
                "ui_table_snapshot"
            ]
        ]
    },
    {
        "id": "fn_alert_notification",
        "type": "function",
        "z": "tab_battery_monitor",
        "name": "Build Alert Notification",
        "func": "if (msg.payload.batteryStatus === \"CRITICAL\" || msg.payload.alerts.length > 0) {\n    msg.payload = {\n        text: `Battery status: ${msg.payload.batteryStatus}. Alerts: ${msg.payload.alerts.join(', ') || 'None'}`,\n        displayTime: 6\n    };\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "x": 900,
        "y": 340,
        "wires": [
            [
                "ui_toast_alert"
            ]
        ]
    },
    {
        "id": "ui_gauge_voltage",
        "type": "ui_gauge",
        "z": "tab_battery_monitor",
        "name": "Voltage Gauge",
        "group": "grp_overview",
        "order": 1,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Battery Voltage",
        "label": "V",
        "format": "{{value}}",
        "min": 0,
        "max": 15,
        "colors": ["#ca3838", "#e6c729", "#00b500"],
        "seg1": "10.5",
        "seg2": "12.6",
        "x": 900,
        "y": 40,
        "wires": []
    },
    {
        "id": "ui_gauge_current",
        "type": "ui_gauge",
        "z": "tab_battery_monitor",
        "name": "Current Gauge",
        "group": "grp_overview",
        "order": 2,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Battery Current",
        "label": "A",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": ["#00b500", "#e6c729", "#ca3838"],
        "seg1": "5",
        "seg2": "8",
        "x": 900,
        "y": 90,
        "wires": []
    },
    {
        "id": "ui_gauge_temperature",
        "type": "ui_gauge",
        "z": "tab_battery_monitor",
        "name": "Temperature Gauge",
        "group": "grp_overview",
        "order": 3,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Battery Temperature",
        "label": "\u00b0C",
        "format": "{{value}}",
        "min": 0,
        "max": 80,
        "colors": ["#00b500", "#e6c729", "#ca3838"],
        "seg1": "45",
        "seg2": "60",
        "x": 910,
        "y": 140,
        "wires": []
    },
    {
        "id": "ui_gauge_weight",
        "type": "ui_gauge",
        "z": "tab_battery_monitor",
        "name": "Weight Gauge",
        "group": "grp_overview",
        "order": 4,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Battery Weight",
        "label": "kg",
        "format": "{{value}}",
        "min": 0,
        "max": 20,
        "colors": ["#00b500", "#e6c729", "#ca3838"],
        "seg1": "12",
        "seg2": "16",
        "x": 900,
        "y": 190,
        "wires": []
    },
    {
        "id": "ui_gauge_power",
        "type": "ui_gauge",
        "z": "tab_battery_monitor",
        "name": "Power Gauge",
        "group": "grp_overview",
        "order": 5,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Battery Power",
        "label": "W",
        "format": "{{value}}",
        "min": 0,
        "max": 150,
        "colors": ["#00b500", "#e6c729", "#ca3838"],
        "seg1": "80",
        "seg2": "120",
        "x": 900,
        "y": 240,
        "wires": []
    },
    {
        "id": "ui_chart_voltage",
        "type": "ui_chart",
        "z": "tab_battery_monitor",
        "name": "Voltage Trend",
        "group": "grp_trends",
        "order": 1,
        "width": 6,
        "height": 4,
        "label": "Voltage (V) - Last 10 min",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting for data...",
        "removeOlder": 10,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "colors": ["#1f77b4"],
        "x": 1130,
        "y": 40,
        "wires": [[]]
    },
    {
        "id": "ui_chart_current",
        "type": "ui_chart",
        "z": "tab_battery_monitor",
        "name": "Current Trend",
        "group": "grp_trends",
        "order": 2,
        "width": 6,
        "height": 4,
        "label": "Current (A) - Last 10 min",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting for data...",
        "removeOlder": 10,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "colors": ["#ff7f0e"],
        "x": 1130,
        "y": 90,
        "wires": [[]]
    },
    {
        "id": "ui_chart_temperature",
        "type": "ui_chart",
        "z": "tab_battery_monitor",
        "name": "Temperature Trend",
        "group": "grp_trends",
        "order": 3,
        "width": 6,
        "height": 4,
        "label": "Temperature (\u00b0C) - Last 10 min",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting for data...",
        "removeOlder": 10,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "colors": ["#d62728"],
        "x": 1140,
        "y": 140,
        "wires": [[]]
    },
    {
        "id": "ui_chart_power",
        "type": "ui_chart",
        "z": "tab_battery_monitor",
        "name": "Power Trend",
        "group": "grp_trends",
        "order": 4,
        "width": 6,
        "height": 4,
        "label": "Power (W) - Last 10 min",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting for data...",
        "removeOlder": 10,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "colors": ["#9467bd"],
        "x": 1120,
        "y": 240,
        "wires": [[]]
    },
    {
        "id": "ui_text_battery_status",
        "type": "ui_text",
        "z": "tab_battery_monitor",
        "group": "grp_status",
        "order": 1,
        "width": 4,
        "height": 2,
        "name": "Battery Status Text",
        "label": "Battery Status",
        "format": "{{msg.payload.batteryStatus}}",
        "layout": "row-spread",
        "x": 930,
        "y": 290,
        "wires": []
    },
    {
        "id": "ui_led_can_status",
        "type": "ui_led",
        "z": "tab_battery_monitor",
        "group": "grp_status",
        "order": 2,
        "width": 4,
        "height": 2,
        "name": "CAN Bus Status LED",
        "label": "CAN Bus OK",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "shape": "circle",
        "colorForValue": [
            { "color": "#00b500", "value": "false", "valueType": "bool" },
            { "color": "#ca3838", "value": "true", "valueType": "bool" }
        ],
        "allowColorForValueInMessage": false,
        "property": "payload.canError",
        "propertyType": "msg",
        "x": 940,
        "y": 330,
        "wires": []
    },
    {
        "id": "ui_toast_alert",
        "type": "ui_toast",
        "z": "tab_battery_monitor",
        "position": "top right",
        "displayTime": "6",
        "highlight": "#ca3838",
        "sendall": true,
        "outdir": "outdir",
        "name": "Battery Alert Toast",
        "x": 1150,
        "y": 340,
        "wires": []
    },
    {
        "id": "ui_table_snapshot",
        "type": "ui_template",
        "z": "tab_battery_monitor",
        "group": "grp_overview",
        "name": "Live Telemetry Table",
        "order": 6,
        "width": 8,
        "height": 6,
        "format": "<table style=\"width:100%; font-size:14px;\">\n  <tr><td><b>Voltage</b></td><td>{{msg.payload['battery/voltage']}} V</td></tr>\n  <tr><td><b>Current</b></td><td>{{msg.payload['battery/current']}} A</td></tr>\n  <tr><td><b>Temperature</b></td><td>{{msg.payload['battery/temperature']}} \u00b0C</td></tr>\n  <tr><td><b>Weight</b></td><td>{{msg.payload['battery/weight']}} kg</td></tr>\n  <tr><td><b>Power</b></td><td>{{msg.payload['battery/power']}} W</td></tr>\n  <tr><td><b>Last Updated</b></td><td>{{msg.payload.lastUpdated}}</td></tr>\n</table>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 1150,
        "y": 190,
        "wires": [[]]
    },
    {
        "id": "grp_overview",
        "type": "ui_group",
        "name": "Overview",
        "tab": "ui_tab_dashboard",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "grp_trends",
        "type": "ui_group",
        "name": "Trends",
        "tab": "ui_tab_dashboard",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "grp_status",
        "type": "ui_group",
        "name": "System Status & Alerts",
        "tab": "ui_tab_dashboard",
        "order": 3,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "ui_tab_dashboard",
        "type": "ui_tab",
        "name": "Battery Monitor",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ui_base_config",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,Helvetica Neue,Helvetica,Arial,sans-serif",
                "edited": true,
                "reset": false
            }
        },
        "site": {
            "name": "Automatic Battery Monitoring System",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY"
        }
    }
]
